<div class="send-quote">
    <h2>Save and Send Quote</h2>
    <button class="btn btn-back" (click)="close()">
        <svg width="12" height="10" xmlns="http://www.w3.org/2000/svg">
            <line x1="2" y1="1" x2="10" y2="9" stroke="white" stroke-width="1" />
            <line x1="10" y1="1" x2="2" y2="9" stroke="white" stroke-width="1" />
        </svg>
    </button>


<!-- Customer details fields -->
<form class="" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group pb-3">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text" id="firstname"><i class="bi bi-person-fill"></i></span>
                    <input type="text" class="input-text-field" placeholder="First Name" formControlName="firstName" />
                </div>
                <div *ngIf="form.get('firstName').invalid && form.get('firstName').touched" class="text-danger">First name is required.</div>
            </div>
        </div>
    </div>

    <div class="form-group pb-3">
        <div class="">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text" id="lastname"><i class="bi bi-person-fill"></i></span>
                    <input type="text" class="input-text-field" placeholder="Last Name" formControlName="lastName" />
                </div>
                <div *ngIf="form.get('lastName').invalid && form.get('lastName').touched" class="text-danger">Last name is required.</div>
            </div>
        </div>
    </div>

    <div class="form-group pb-3">
        <div class="input-group">
            <span class="input-group-text" id="email"><i class="bi bi-envelope-fill"></i></span>
            <input type="email" class="input-text-field" placeholder="Email" formControlName="email" />
        </div>
        <div *ngIf="form.get('email').invalid && form.get('email').touched" class="text-danger">Enter a valid email address.</div>
    </div>

    <div class="form-group pb-3">
        <div class="input-group">
            <span class="input-group-text" id="lastname"><i class="bi bi-telephone-fill"></i></span>
            <input type="tel" class="input-text-field" placeholder="Phone" formControlName="phone" />
        </div>
        <div *ngIf="form.get('phone').invalid && form.get('phone').touched" class="text-danger">Enter a valid phone number.</div>
    </div>

    <!-- <div class="w-100 d-flex justify-content-center">
        <div class="form-check pb-3">
            <input type="checkbox" class="form-check-input" formControlName="subscribe" />
            <label class="form-check-label"> I want to stay updated with the latest news, offers and updates. </label>
        </div>
    </div> -->
</form>

<div class="modal-footer">
    <button
        (click)="submitForm()"
        class="button-primary"
        data-bs-dismiss="modal"
        [class.confirm-selection-disabled]="!form.valid"
        [disabled]="!form.valid">
        Send Quote
    </button>
</div>
</div>