.form-control {
    border-radius: 17px;
    background: #fff;
    min-height: 60px;
    padding: 12px 15px;
    font-size: 15px;

    color: #3d3d3d;

    border-left-color: transparent;
}

.input-group-text {
    border-radius: 17px;
    background: #fff;
    min-height: 60px;
    padding: 12px 15px;
    font-size: 25px;

    color: #3d3d3d;
}

.modal-title {
    font-size: 22px;
    padding: 15px 15px 0px 15px;
    font-weight: 600;
    color: #3d3d3d;
}

.btn-primary{
    padding: 15px 0px;
}
