.property-ownership {
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.property-ownership h2{
    font-size: 38px;
    color: #2c2c2c;
    margin-bottom: 15px;
    letter-spacing: 0px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

@media screen and (max-width:1024px) {

    .property-ownership h2{
        font-size:1.85rem ;
        margin-bottom:30px;
    }

    .card-wrapper>div {
        width: auto;
        min-height: auto;
        margin-bottom: 10px;

        justify-content: space-around;
    }
}

@media screen and (max-width:786px) {

    .property-ownership h2{
        font-size:1.55rem ;
        margin-bottom:30px;
    }

    .card-title{
        font-size:1.1rem;
    }

    .card-wrapper>div {
        width: auto;
        min-height: auto;
        margin-bottom: 10px;

        justify-content: space-around;
    }
}
