/* Zoom-in button */
.gm-control-zoom-in {
    background-image: url('../../../assets/7/plus-minus-icon.svg');
  }

  /* Zoom-out button */
  .gm-control-zoom-out {
    background-image: url('../../../assets/7/plus-minus-icon.svg');
  }
