.thank-you {
    background: url("/assets/thanks/sf-vans-carpark-4.png");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .btn.btn-success{
        background: linear-gradient(to bottom, #75C043, #44A900);
        -webkit-box-shadow: inset 0 1px 2px #9aa4b1;
        -moz-box-shadow: inset 0 1px 2px #9aa4b1;
    }


    .btn.btn-success:hover {
        background: linear-gradient(to bottom, #75C043, #44A900);
        -webkit-transition: box-shadow 0.05s ease-in-out;
        -moz-transition: box-shadow 0.05s ease-in-out;
        -o-transition: box-shadow 0.05s ease-in-out;
        transition: box-shadow 0.05s ease-in-out;
    }


    .btn.btn-success:active {
        background: linear-gradient(to bottom, #75C043, #44A900);
        -webkit-box-shadow: 0 0 5px #818d9d inset;
        -moz-box-shadow: 0 0 5px #818d9d inset;
    }

   .btn-success{
        padding:8px 40px;
        margin-top: 30px;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3;
        color: #fff;
    }

    p {
        font-size: 18px;
        color: #fff;
    }

    .thanks {
        margin-top: 18%;
        z-index: 1;
        background: url("/assets/thanks/check-icon.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25%;
        padding:3rem;
    }
}

@media screen and (max-width:1024px) {

    .thank-you {
        h1{
            font-size:1.6rem;
        }

        p{
            font-size:15px;
        }

    }

}
