.content-main {
    padding: 55px 9%;

    max-height: 100vh;

    > h1 {
        font-size: 50px;
        font-weight: 600;
        line-height: 120%;
    }

    > p {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;
    }

    > form {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    @media screen and (max-width: 1204px) {
        padding: 120px 5%;
    }
}

.card {
    background: #fff;
    border-radius: 1rem;
    padding: 5%;

    h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 10%;
    }
}

.form-select {
    outline: none !important;
    border-radius: 2px;
    border-color: #dadada;
    border-style: solid;
    border-width: 2px;
    background-color: #f8f8f8;
    min-height: 60px;
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #3d3d3d;

    > mat-option {
        background-color: #f8f8f8;
        color: #3d3d3d;
    }

    ::ng-deep .mdc-list-item--selected {
        color: red;
    }

    @media screen and (min-width: 0px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1424px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 20px;
    }
}

.form-select::placeholder {
    color: #aeaeae;
    opacity: 1; /* Firefox */
}

.form-select::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #aeaeae;
}

.form-select:focus {
    outline: none !important;
    border-color: #838383 !important;
    box-shadow: none !important;
}

::ng-deep .mdc-list-item {
    background-color: #f8f8f8 !important;

    span.mdc-list-item__primary-text {
        color: #3d3d3d !important;
    }
}

::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: #75c043 !important;

    span.mdc-list-item__primary-text {
        color: white !important;
    }

    mat-pseudo-checkbox.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal.ng-star-inserted::after {
        color: white !important;
    }
}

mat-option {

}

::ng-deep .mdc-list-item--selected {
    background: linear-gradient(to bottom, #75c043, #6cb13e) !important;

    span.mdc-list-item__primary-text {
        color: white !important;
    }

    mat-pseudo-checkbox.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal.ng-star-inserted::after {
        color: white !important;
    }
}

.button-primary {
    min-height: 60px;
}

