<app-need-help></app-need-help>

<!--Back button-->
<a class="btn-black" (click)="formService.back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 25 20">
        <path d="M20 10 L5 10 M10 5 L5 10 10 15" stroke="white" stroke-width="2" fill="none" />
    </svg>
</a>

<div @fadeIn class="content-main">
    <h1>
        We couldn't find that address...
    </h1>

    <p>
        Try enter your postcode below and select your address.
    </p>

    <form [formGroup]="form">
        <div class="row card">
            <div>

                <h1>
                    Find your address
                </h1>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group pb-3">
                            <div class="input-group position-relative">
                                <input type="text" class="input-text-field w-100" placeholder="Postcode" formControlName="postcode" autocomplete="postal-code" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group pb-3">
                            <button
                                type="submit"
                                class="button-primary w-100"
                                [matTooltip]="'Find Address'"
                                (click)="getLocation()"
                                [disabled]="!form.valid"
                                [class.button-disabled]="!form.valid">
                                Find Address
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div @fadeIn class="col-sm-12" *ngIf="addressLookup?.addresses?.length > 0">
                        <div class="form-group pb-3">
                            <mat-label>Address </mat-label>
                            <mat-select class="form-select" (selectionChange)="selectAddress($event.value)">
                                <mat-option *ngFor="let item of addressLookup?.addresses; let i = index" [value]="i">
                                    {{ item.line_1 }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="submitted && addressLookup?.addresses?.length <= 0">
                    <p @fadeIn>No addresses found for {{ form.get('postcode').value }}.</p>
                </ng-container>

            </div>
        </div>
    </form>


</div>




