<div class="need-help">
  <div class="d-flex align-items-center">
    <div class="help-icon">
      <i class="bi bi-question-circle"></i>
    </div>
    <div class="help-body">
      <h3>Need help?</h3>
      <p>Speak to our team</p>
    </div>
  </div>
</div>
<div class="container-fluid justify-content-center">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="container">
        <span><a class="btn btn-primary" routerLink="/solarfastsystem">Back</a></span>
        <h1>Choose Your solar fast syestem</h1>
        <p>Based on the answers you gave, here is your recommended system.</p>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="image-url.jpg" class="card-img-top mx-auto" alt="Package Image">
              <div class="card-body">
                <h5 class="card-title text-center">Normal Package</h5>
                <p class="card-text">Basic features included.</p>
                <p class="card-text">Time Period: 1 Month</p>
                <p class="card-text">Specifications: Specific details here.</p>
                <a href="#" class="btn btn-primary  justify-content-center d-flex align-items-center" >Proceed to Next Step</a>
                <p class="card-text">whats include?</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <img src="image-url.jpg" class="card-img-top mx-auto" alt="Package Image">
              <div class="card-body">
                <h5 class="card-title text-center">Medium Package</h5>
                <p class="card-text">More features included.</p>
                <p class="card-text">Time Period: 3 Months</p>
                <p class="card-text">Specifications: Specific details here.</p>
                <a href="#" class="btn btn-primary  justify-content-center d-flex align-items-center">Proceed to Next Step</a>
                <p class="card-text">whats include?</p>

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <img src="image-url.jpg" class="card-img-top mx-auto" alt="Package Image">
              <div class="card-body">
                <h5 class="card-title text-center">Premium Package</h5>
                <p class="card-text">All premium features included.</p>
                <p class="card-text">Time Period: 6 Months</p>
                <p class="card-text">Specifications: Specific details here.</p>
                <a href="#" class="btn btn-primary  justify-content-center d-flex align-items-center">Proceed to Next Step</a>
                <p class="card-text">whats include?</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

