<div class="content-screen roof-type">
  <div class="header">
    <h2 class="fs-title">
      What type of roof do you have?
    </h2>
  </div>

  <div>
    <div class="center-content">
      <div class="card-items">
        <div class="card-wrapper">
          <div class="option" (click)="answerGiven('Pitched')">
            <img [src]="'./assets/3/pitched.svg'" [alt]="'Pitched'" class="svg-image" />
            <p class="card-title">Pitched</p>
          </div>

          <div class="option" (click)="answerGiven('Dormer')">
            <img [src]="'./assets/3/dormer.svg'" [alt]="'Dormer'" class="svg-image" />
            <p class="card-title">Dormer</p>
          </div>

          <div class="option" (click)="answerGiven('Flat')">
            <img [src]="'./assets/3/flat.svg'" [alt]="'Flat'" class="svg-image" />
            <p class="card-title">Flat</p>
          </div>

        </div>
    </div>
    </div>
  </div>
</div>
