<progression-bar-top></progression-bar-top>

<app-need-help></app-need-help>

<div class="order-progress">
    <div class="order-details">
        <div class="title-bar-heading">
            <div>
                <h1 class="title">Your order Progress & Next Steps</h1>
            </div>
        </div>

        <!--Timeline Starts-->

        <!-- Section: Timeline 
<section class="py-5">
    <ul class="timeline-with-icons">
      <li class="timeline-item mb-5">
        <span class="timeline-icon">
            <i class="bi bi-check2"></i>
        </span>
        <h2 class="fw-bold text-green">Order submitted & quote given.</h2>
        <p class="text-white text-muted mb-2 fw-bold">You will now receive an email with a link where you can upload photos of your property to help give an accurate quote and prevent potential issues on the day of your installation.</p>
      </li>
  
      <li class="timeline-item mb-5">
         <span class="timeline-icon">
            <i class="bi bi-x"></i>
        </span>
        <h2 class="fw-bold">3D design and installation date confirmed.</h2>
      </li>
  
      <li class="timeline-item mb-5">
        <span class="timeline-icon">
            <i class="bi bi-x"></i>
        </span>
        <h2 class="fw-bold">Solar Fast System Installation.</h2>
      </li>
  
    </ul>
  </section>
  Section: Timeline -->

        <!--Timeline Ends-->

        <div class="bullet-points d-flex flex-column">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row align-items-center step-min">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="115"
                        height="115"
                        viewBox="0 0 100 100">
                        <!-- Circle -->
                        <circle
                            cx="50"
                            cy="50"
                            r="45"
                            stroke="#75C043"
                            stroke-width="5"
                            fill="none"/>

                        <!-- Tick (Checkmark) -->
                        <path
                            d="M30 50 L45 65 L70 40"
                            stroke="#75C043"
                            stroke-width="5"
                            fill="none"/>
                    </svg>

                    <p class="bullet-point-text text-green">
                        Order submitted & quote given.<br>
                        <small><span style="color: #fff;  font-size:12px;">You will now receive an email with a link where you can upload photos of your property to help give an accurate quote and prevent potential issues on the day of your installation.</span></small>
                    </p>
                </div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="115"
                    height="115"
                    viewBox="0 0 100 100"
                    style="margin-top: -28px"
                >
                    <!-- Vertical Line -->
                    <line
                        x1="50"
                        y1="20"
                        x2="50"
                        y2="80"
                        stroke="#75C043"
                        stroke-width="5"
                    />
                </svg>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row align-items-center step-min">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="115"
                        height="115"
                        viewBox="0 0 100 100"
                        style="margin-top: -28px"
                    >
                        <!-- Circle -->
                        <circle
                            cx="50"
                            cy="50"
                            r="45"
                            stroke="#dedede"
                            stroke-width="5"
                            fill="none"
                        />

                        <!-- Cross -->
                        <line
                            x1="30"
                            y1="30"
                            x2="70"
                            y2="70"
                            stroke="#dedede"
                            stroke-width="5"
                        />
                        <line
                            x1="30"
                            y1="70"
                            x2="70"
                            y2="30"
                            stroke="#dedede"
                            stroke-width="5"
                        />
                    </svg>

                    <p class="bullet-point-text" style="margin-top: -14px">
                        3D design and installation date confirmed.
                    </p>
                </div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="115"
                    height="115"
                    viewBox="0 0 100 100"
                    style="margin-top: -28px"
                >
                    <!-- Vertical Line -->
                    <line
                        x1="50"
                        y1="20"
                        x2="50"
                        y2="80"
                        stroke="#dedede"
                        stroke-width="5"
                    />
                </svg>
            </div>

            <div>
                <div class="d-flex flex-row align-items-center step-min">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="115"
                        height="115"
                        viewBox="0 0 100 100"
                        style="margin-top: -28px"
                    >
                        <!-- Circle -->
                        <circle
                            cx="50"
                            cy="50"
                            r="45"
                            stroke="#dedede"
                            stroke-width="5"
                            fill="none"
                        />

                        <!-- Cross -->
                        <line
                            x1="30"
                            y1="30"
                            x2="70"
                            y2="70"
                            stroke="#dedede"
                            stroke-width="5"
                        />
                        <line
                            x1="30"
                            y1="70"
                            x2="70"
                            y2="30"
                            stroke="#dedede"
                            stroke-width="5"
                        />
                    </svg>

                    <p class="bullet-point-text" style="margin-top: -16px">
                        Solar Fast System Installation.
                    </p>
                </div>
            </div>
        </div>

        <button class="button-primary" (click)="confirmButton()">Confirm</button>

    </div>
</div>
