<!--Help-->
<div class="need-help">
  <div class="d-flex align-items-center">
    <div class="help-icon">
      <i class="bi bi-question-circle"></i>
    </div>
    <div class="help-body">
      <h3>Need help?</h3>
      <p>Speak to our team</p>
    </div>
  </div>
</div>
<!--Help Ends-->

<div class="order-progress">
  <div class="order-details">
    <div class="heading-title">
      <h1>
        <button class="back">
          <i class="bi bi-arrow-left"></i>
        </button>
        Your Order Progress & Next Steps
      </h1>
    </div>

    <div class="orderlist">
      <ul>
        <li>Order submitted & quote given</li>
        <li>3D design and installation date confirmed</li>
        <li>Solar Fast System Installation</li>
      </ul>
      <button class="btn btn-success">Confirm</button>
    </div>
  </div>
</div>
