.order-progress {
    // background: url('/assets/order-progress/SF-Vans-Carpark.png');
    background: url('../../../assets/order-progress/SF-Vans-Carpark.png');
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;

    padding-left: 30px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .order-details {
        .title-bar-heading {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            color: #fff;
            align-items: center;

            .title {
                font-size: 2.5rem;
                font-weight: 500;
                margin-left: 30px;
                margin-top: 18px;
            }

        }
    }

    .button-primary {
        padding: 20px 170px 20px 170px;
        font-size: 22px;
        width: max-content;
        margin-top: 75px;
        margin-left: 75px;
    }

    .back-buttons {
        position: fixed;
        top: 10px;
        right: 10px;
    }
}

.order-details {
    padding: 3rem;
    position: relative;
    z-index: 1;
}

.bullet-point-text {
    color: #fff;
    font-size: 30px;
    margin-left: 30px;
    line-height: 30px;
}

.text-green {
    color: #75c043;
}

.bullet-points {
    margin-top: 50px;
}

.btn-black {
    background: #000;
    color: white;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 50px;
    cursor: pointer;
    z-index: 2;
}

@media screen and (max-width:768px) {

    .order-details {
        .title-bar-heading {
            line-height:2rem;
            font-size: 2.2rem;
        }

        .bullet-point-text {
            font-size:1.5rem ;
            line-height:1.5rem;
        }

    }

.order-progress {  
        overflow: auto;
    }

.btn-black{
    top: 10px;
    top: 30px;
}

.need-help{
    right: 10px;
}

}