<div class="content-screen house-type">
  <div class="header">
    <h2>What type of house do you have?</h2>
  </div>

  <div>
    <div class="center-content">
      <div class="card-items">
        <div class="card-wrapper">
          <div class="option" (click)="answerGiven('Detached')">
            <img [src]="'assets/2/detached.svg'" [alt]="'Detached'" class="svg-image" />
            <p class="card-title">Detached</p>
          </div>

          <div class="option" (click)="answerGiven('Semi-Detached')">
            <img [src]="'assets/2/semi-detached.svg'" [alt]="'Semi-Detached'" class="svg-image" />
            <p class="card-title">Semi-Detached</p>
          </div>

          <div class="option" (click)="answerGiven('Terraced')">
            <img [src]="'assets/2/terraced.svg'" [alt]="'Terraced'" class="svg-image" />
            <p class="card-title">Terraced</p>
          </div>

          <div class="option" (click)="answerGiven('Bungalow')">
            <img [src]="'assets/2/bungalow.svg'" [alt]="'Bungalow'" class="svg-image" />
            <p class="card-title">Bungalow</p>
          </div>

          <div class="option" (click)="answerGiven('Flat', true)">
            <img [src]="'assets/2/flat.svg'" [alt]="'Flat'" class="svg-image" />
            <p class="card-title">Flat</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
