.house-type {
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.house-type h2{
    font-size: 38px;
    color: #2c2c2c;
    margin-bottom: 15px;
    letter-spacing: 0px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}


@media screen and (max-width:1024px) {

    .house-type h2{
        font-size:1.85rem ;
        margin-bottom:30px;
    }

    .card-wrapper>div {
        width: auto;
        min-height: auto;
        margin-bottom: 0px !important;

        justify-content: space-around;
    }
}

@media screen and (max-width:786px) {

    .house-type h2{
        font-size:1.55rem ;
        margin-bottom:20px;
    }

    .card-title{
        font-size:1rem;
    }

    .card-wrapper>div {
        width: auto;
        min-height: auto;
        margin-bottom: 0px !important;

        justify-content: space-around;
    }
}

.svg-image {
    @media screen and (max-width: 750px) {
        object-fit: scale-down;
        width: 50%;
    }
}

.card-wrapper {

    @media screen and (max-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 9px;
    }

}

.header{
    @media screen and (max-width: 1024px) {
        height: 100%;
    }

}

.option {
    height: 100%;
}
