<div class="content-screen shading">
  <div class="header">
    <h2 class="fs-title">
      Does anything shade your roof?
    </h2>
  </div>

  <div>
    <div class="center-content">
      <div class="card-items">
        <div class="card-wrapper">
          <div class="option" (click)="answerGiven(true)">
            <img [src]="'assets/4/yes.svg'" [alt]="'Yes'" class="svg-image" />
            <p class="card-title">Yes</p>
          </div>

          <div class="option" (click)="answerGiven(false)">
            <img [src]="'assets/4/no.svg'" [alt]="'No'" class="svg-image" />
            <p class="card-title">No</p>
          </div>

        </div>
    </div>
    </div>
  </div>
</div>
