
  <!--Help-->
  <div class="need-help">
    <div class="d-flex align-items-center">
      <div class="help-icon">
          <i class="bi bi-question-circle"></i>
      </div>
      <div class="help-body">
          <h3>Need help?</h3>
          <p>Speak to our team</p>
      </div>
    </div>
    </div>
    <!--Help Ends-->

    <h1><button class="btn">Back</button> Solar Fast System</h1>
    <p>Based on the answers you gave,here is your recommended system.</p>

    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">

          <!--Package-->
          <div class="package-list d-flex align-items-center">

          <div class="col-md-4">
            <button><i class="bi bi-star-fill"></i> Recommended</button>
            <video width="" height="360" controls>
              <source src="../../../../assets/package/package-item.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <div class="col-md-4">
            <h2>12X410W Solar Panels & 6.4kWh Battery Storage</h2>
            <ul>
              <li>DMEGC 410W black-on-black solar panels</li>
              <li>3.6kW Luxpower Inverter</li>
              <li>3.2kWh Greenlinx Battery(s)</li>
            </ul>
            <a class="btn"> More Details</a>
            <a class="btn">Save and Email me this Quote</a>
          </div>

          <div class="col-md-4">
            <h3>Payment Options</h3>
            <h1>£12,500</h1>
            <h3>Or</h3>
            <p>£82.60 per month (11.9% APR)</p>
            <a class="btn btn-primary" routerLink="/choosensolarfastsystem">Proceed to Next Step</a>
            <p>What's included?</p>
          </div>

          </div>

          <!--Package ends here-->

            </div>
          </div>
        </div>
        <!--Card Ends Here-->
        <h3 class="text-center">Want to see more options we have selected for you? <a href="" routerLink="/choosesolarfast">Click here</a></h3>
      </div>
    </div>



    <div class="container-fluid justify-content-center">
      <div class="container-fluid py-5 chart-content">
        <div class="row">
          <div class="row">
            <h3 class="text-center white-color">Save up to £1,234 per year on electricity</h3>
          </div>
              <div class="row justify-content-center align-items-center">
              <div class="row " style="width: 50%;">
                  <div class="col-md-4">
                      <div class="card text-center">
                          <img src="image1.jpg" class="card-img-top" alt="Image 1">
                          <div class="card-body">
                              <h5 class="card-title">£1,234</h5>
                              <p class="des-card-text">Annual Savings</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card text-center">
                          <img src="image2.jpg" class="card-img-top" alt="Image 2">
                          <div class="card-body">
                              <h5 class="card-title">4,123 kWh</h5>
                              <p class="des-card-text">Generation P/Y</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card text-center">
                          <img src="image3.jpg" class="card-img-top" alt="Image 3">
                          <div class="card-body">
                              <h5 class="card-title">4.1 kWh</h5>
                              <p class="des-card-text">System Size</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row py-3">
          <div class="row">
            <h3 class="text-center white-color"><i>Terms and conditions around average savings goes here <br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet <br> dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</i></h3>
          </div>
          <h3 class="text-center white-color">Yearly Generation forecast</h3>
          <div class="container">

            <div id="chart">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke"
                [fill]="chartOptions.fill"
                [yaxis]="chartOptions.yaxis"
                [title]="chartOptions.title"
                [tooltip]="chartOptions.tooltip"
                [legend]="chartOptions.legend"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row py-4">
        <div class="col-md-12">
                <h1 class="text-center">Frequently Asked Questions</h1>
            <div class="tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Are solar panels worth it?
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Do solar panels increase the value of my home?
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    How many panels do i need?
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                              </div>
                            </div>
                          </div>



                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                  </div>
                </div>

            <!--Tabs Ends Here-->
        </div>
    </div>
