.container{
  background-color: white;
  height: auto;
}

.pay-installments ul li{
  line-height:2rem;
  font-weight:600;
  font-size:1.1rem;
}

.list-group-item:hover {
  background-color: rgba(115, 189, 66, 0.3);
  border: 1px solid #74BD42;
  color: #000;
  cursor: pointer;
}

.list-group-item.active {
  background-color: #74BD42;
  border: 1px solid #74BD42;
  color: #fff;
}

.form-control-range {
  width: 100%;
  background: #74BD42;
  cursor: pointer;
  height: 25px;
}

.form-control-range::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: #74BD42;
  border: 2px solid #74BD42;
  border-radius: 50%;
  cursor: pointer;
}

.cdk-overlay-container{
  background:#fff;
  width: 650px;
}

.pay-installments{
  padding:1rem;
  background:#fff;
  border-radius:32px;
}

.pay-installments h2{
  font-size:1.5rem;
  font-weight: 700;
  margin:15px 0;
}

.apr-tr{
  border:1px solid #d8d8d8;
  padding:15px;

}

input[type=range] { 
	-webkit-appearance: none;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
	background: #74BD42;;
	border-radius: 25px;
	border: 1px solid #74BD42;;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
	border: 0.2px solid #f2f2f2;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #f2f2f2;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background:#74BD42;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
	background: #74BD42;
	border-radius: 25px;
	border: 1px solid #74BD42;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
	border: 0.2px solid #74BD42;;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #74BD42;;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #74BD42;
	border: 1px solid #74BD42;
	border-radius: 50px;
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
}

input[type=range]::-ms-fill-upper {
	background: #74BD42;
	border: 1px solid #74BD42;
	border-radius: 50px;
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
}

input[type=range]::-ms-thumb {
	box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.25), 0px 0px 1.4px rgba(13, 13, 13, 0.25);
	border: 0.2px solid #74BD42;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #74BD42;
	cursor: pointer;
	height: 8px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #74BD42;
}

input[type=range]:focus::-ms-fill-upper {
	background: #74BD42;
}

input[type=range].form-control {
	padding: 12px;
	height: 36px;
}


// input[type="range"] {
//   background-color: #74BD42;
//   width: 100%;
// }

// input[type="range"]::-webkit-slider-thumb {
//   background-color: #74BD42;
//   border: 2px solid #f2f2f2;
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   cursor: pointer;
// }

// input[type="range"]::-moz-range-thumb {
//   background-color: #74BD42;
//   border: 2px solid #f2f2f2;
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   cursor: pointer;
// }

// input[type="range"]::-webkit-slider-runnable-track {
//   background-color: #74BD42;
//   height: 8px;
//   border-radius: 3px;
// }

// input[type="range"]::-moz-range-track {
//   background-color: #74BD42;
//   height: 8px;
//   border-radius: 3px;
// }


.close-button{
  position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    border: none;
    color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    text-align: center;
    z-index: 15;
    font-size: 1.3rem;
}

.close-button .mat-icon{
  font-size: 1.5rem;
  position: relative;
  top: -12px;
  left: -8px;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 576px) {
  .mat-dialog {
    width: 100%;
  }
}
