<div class="package-chat mt-3">
    <div class="container-fluid justify-content-center">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="row">
                    <div class="heading-title">
                        <h1 class="text-center">Save up to £1,087 per year on electricity</h1>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="row chart-content">
                        <div class="col-md-4">
                            <div class="card text-center">
                                <img src="./assets/package/annual-savings.svg" class="card-img-top" alt="Image 1" />
                                <div class="card-body">
                                    <h3 class="card-title">£1,087</h3>
                                    <p class="des-card-text">Annual Savings</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card text-center">
                                <img src="./assets/package/generation.svg" class="card-img-top" alt="Image 2" />
                                <div class="card-body">
                                    <h3 class="card-title">4,721 kWh</h3>
                                    <p class="des-card-text">Generation P/Y</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card text-center">
                                <img src="./assets/package/system-size.svg" class="card-img-top" alt="Image 3" />
                                <div class="card-body">
                                    <h3 class="card-title">5.02 kWh</h3>
                                    <p class="des-card-text">System Size</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="terms-conditions">
                <div class="row py-3">
                    <div class="row">
                        <h3 class="text-center">
                            <i>
                                The data above is based on average prices from late 2023 - 30p per kWh of electricity and 53p per day for a
                                standing charge. <br> As such, savings may vary from year to year, depending on the energy market.
                            </i>
                        </h3>
                    </div>
                    <h2 class="text-center">Yearly Generation forecast</h2>
                    <div class="container">
                        <!--Chart-->
                        <app-consumptionprodcutionchart></app-consumptionprodcutionchart>
                        <!--Chart ends here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
