<ng-container *ngIf="!loading">
    <progression-bar-top></progression-bar-top>

    <div class="map">
        <div class="google-map">
            <app-googlemap></app-googlemap>
        </div>
    </div>

    <app-need-help></app-need-help>

    <!--Back button-->
    <a class="btn-black" (click)="backButton()">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 25 20">
            <path d="M20 10 L5 10 M10 5 L5 10 10 15" stroke="white" stroke-width="2" fill="none" />
        </svg>
    </a>

    <div id="#msform" class="container-fluid justify-content-center">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 main-content" *ngIf="!activeStep.hideComponent">
                    <div class="card-content">
                        <ng-container *ngIf="activeStep.component == 'step-property-ownership'">
                            <step-property-ownership [step]="activeStep" (newStep)="formService.stepChange($event)"></step-property-ownership>
                        </ng-container>

                        <ng-container *ngIf="activeStep.component == 'step-house-type'">
                            <step-house-type [step]="activeStep" (newStep)="formService.stepChange($event)"></step-house-type>
                        </ng-container>

                        <ng-container *ngIf="activeStep.component == 'step-roof-type'">
                            <step-roof-type [step]="activeStep" (newStep)="formService.stepChange($event)"></step-roof-type>
                        </ng-container>

                        <ng-container *ngIf="activeStep.component == 'step-shading'">
                            <step-shading [step]="activeStep" (newStep)="formService.stepChange($event)"></step-shading>
                        </ng-container>

                        <ng-container *ngIf="activeStep.component == 'step-annual-consumption'">
                            <step-annual-consumption [step]="activeStep" (newStep)="formService.stepChange($event)"></step-annual-consumption>
                        </ng-container>

                        <ng-container *ngIf="activeStep.component == 'step-unit-rate'">
                            <step-unit-rate [step]="activeStep" (newStep)="formService.stepChange($event)"></step-unit-rate>
                        </ng-container>

                        <ng-container *ngIf="activeStep.step == 6"> </ng-container>

                        <!-- <ng-container *ngIf="!activeStep.hideNavigation && activeStep.back != null">
                            <div
                                class="btn-toolbar d-flex justify-content-center mt-5"
                                role="group"
                                aria-label="Form Navigation"
                            >
                                <button
                                    type="button"
                                    class="back-button"
                                    (click)="formService.back()"
                                    [disabled]="activeStep?.back == null"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        style="margin-top: -2px"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
                                        />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>

                                    Back
                                </button>

                            </div>
                        </ng-container> -->

                        <ul id="progressbar" [ngClass]="0 <= 2 ? 'show' : 'hide'" class="progress-bar">
                            <li class="col-md-12" [ngClass]="[0 <= activeStep.step ? 'active' : 'inactive']">Your Home</li>

                            <li class="col-md-12" [ngClass]="[4 <= activeStep.step ? 'active' : 'inactive']">Your Consumption</li>

                            <li class="col-md-12" [ngClass]="[6 <= activeStep.step ? 'active' : 'inactive']">Location Pin</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
