
<ng-container  *ngIf="!loading">

  <div class="progress-bar"></div>

  <div class="map">
    <div class="google-map">
      <app-googlemap></app-googlemap>
    </div>
  </div>

  <!--Help-->
<div class="need-help">
  <div class="d-flex align-items-center">
      <div class="help-icon">
          <i class="bi bi-question-circle"></i>
      </div>
      <div class="help-body">
          <h3>Need help?</h3>
          <p>Speak to our team</p>
      </div>
  </div>
</div>
<!--Help Ends-->

  <div class="container-fluid justify-content-center">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-12 col-md-offset-3 main-content" *ngIf="!activeStep.hideComponent">
          <div id="#msform" class="card-content">
            <ng-container *ngIf="activeStep.component == 'step-property-ownership'">
              <step-property-ownership [step]="activeStep" (newStep)="formService.stepChange($event)" ></step-property-ownership>
            </ng-container>

            <ng-container *ngIf="activeStep.component == 'step-house-type'">
              <step-house-type [step]="activeStep" (newStep)="formService.stepChange($event)"></step-house-type>
            </ng-container>

            <ng-container *ngIf="activeStep.component == 'step-roof-type'">
              <step-roof-type [step]="activeStep" (newStep)="formService.stepChange($event)"></step-roof-type>
            </ng-container>

            <ng-container *ngIf="activeStep.component == 'step-shading'">
              <step-shading [step]="activeStep" (newStep)="formService.stepChange($event)"></step-shading>
            </ng-container>

            <ng-container *ngIf="activeStep.component == 'step-annual-consumption'">
              <step-annual-consumption [step]="activeStep" (newStep)="formService.stepChange($event)"></step-annual-consumption>
            </ng-container>

            <ng-container *ngIf="activeStep.component == 'step-unit-rate'">
              <step-unit-rate [step]="activeStep" (newStep)="formService.stepChange($event)"></step-unit-rate>
            </ng-container>

            <ng-container *ngIf="activeStep.step == 6">
            </ng-container>

            <ng-container *ngIf="!activeStep.hideNavigation">
              <div class="btn-toolbar d-flex justify-content-center mt-5" role="group" aria-label="Form Navigation">
                <button type="button" class="btn btn-primary" (click)="formService.back()" [disabled]="activeStep?.back == null">Back</button>
                <!-- <button type="button" class="btn btn-primary" (click)="formService.next()" [disabled]="activeStep?.next == null">Next</button> -->
              </div>
            </ng-container>

            <p>Progress</p>

          </div>
        </div>
      </div>
    </div>
  </div>


</ng-container>

