.solar-fast-system{
    padding:2rem;
}

.package-list{
    padding:2rem 0;
}

.package-panel-list{
    padding:2rem;
}

.package-panel-list h2{
    font-size:2.5rem;
    line-height:3rem;
    font-weight: 700;
}

.package-panel-list ul li{
    font-size:18px;
    line-height:1.8;
}

.recommended{
    position: absolute;
    padding:15px;
    overflow: hidden;
}

.border-right{
    border-right:1px solid #707070;
}

.payment-options{
    padding:2rem;
    text-align: center;
}

.payment-options h3{
    font-size:1.5rem;
    font-weight:500;
}

.payment-options h1{
    font-weight: 700;
    font-size:2.4rem;
}

.btn-back{
    background:#000;
    border-radius:50%;
  }

.package-content {
    min-height:420px;
  }

.per-month{
    color:#CE0707;
    font-weight: 500;
    width:100%;
    display: block;
    font-size:18px;
    cursor: pointer;
    margin:15px 0;
}

.form-range {
    width: 100%;
    height: 1rem;
    padding: 0;
    cursor: pointer;
    background-color: #dee2e6;
    border-radius: 0.25rem;
  }
  
  .form-range-track {
    width: 100%;
    height: 100%;
    color: transparent;
    border-radius: 0.25rem;
  }
  
  .form-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #0d6efd;
    border: 0;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
  }
  
  .form-range-ticks {
    visibility: hidden;
  }
  
  .form-range-labels {
    display: none;
  }