.solar-fast-system {
    padding: 2rem;

    @media screen and (max-width: 768px) {
        padding: 0px;
    }
}

.card {
    padding: 2rem 1.5rem;
    border-radius: 1px;
    border-color: transparent;
    background-color: #e9e9e9;

    @media screen and (max-width: 768px) {
        padding: 1rem 1rem;
    }
}

.card-recommended {
    //background-color: #50a518;
    border: #75c043;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0 0 10px #75c04391;
}

.card-supercharged {
    background-color: #1a1a1a;
    color: white;
}

.package-image {
    border-radius: 15px;
    width: 100%;
    height: max-content;

    @media screen and (max-width: 1024px) {
        width: 40%;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.title-bar-heading {
    display: flex;
    flex-direction: column;
    color: #000;

    align-items: center;

    margin: 35px 0px 10px 0px;
    //padding: 0px 0px 0px 70px;

    text-align: center;

    .title {
        font-size: 1.25rem;
        font-weight: 600;

        @media screen and (max-width: 768px) {
            font-size: 1rem;
            padding: 0px 5px;
            margin: 0px;
        }
    }

    .title-top {
        font-size: 2.5rem;
        font-weight: bold;

        @media screen and (max-width: 768px) {
            font-size: 1.8rem;
            margin: 7px 0px;
        }
    }

    @media screen and (max-width: 1124px) {
        margin: 90px 0px 10px 0px;
        padding: 0px 10px;
    }
}

.package-list {
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        width: 100%;
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > div {
            @media screen and (min-width: 768px) {
                width: 90%;
            }

            //one of these elements is spanning less space than other elements.
        }
    }

    > div:first-child > div {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        padding: 0px;
    }
}

.package-panel-list {
    padding: 0.5rem;
    padding-right: 1rem;
    align-self: center;
    justify-self: center;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.package-panel-list h2 {
    font-size: 37px;
    //line-height: 3rem;
    font-weight: 600;

    @media screen and (max-width: 768px) {
        font-size: 37px;
    }
}

.package-panel-list ul li {
    font-size: 18px;
    line-height: 1.8;
}

.payment-options {
    padding: 0.5rem;
    text-align: center;
    @media screen and (max-width: 768px) {
        margin-bottom: 50px;
    }
}

.package-content {
    height: 100%;
    min-height: max-content;

    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
        border-right: #2a2a2a;
    }
}

.close-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    background: #000;
    border: none;
    color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    z-index: 15;
    font-size: 1.3rem;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
    cursor: progress;
}

.finance-price {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0px;
    }
}

.next-step-button {
    @media screen and (min-width: 1024px) {
        margin-top: 3rem;
    }
}

.tags {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    color: white;

    .tag-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
        margin-left: -20px;

        svg polygon {
            fill: orangered;
        }

        .tag {
            display: flex;
            flex-direction: row;
            padding: 12px 15px 12px 0px;
            background-color: orangered;
            align-items: center;
            position: relative;

            .svg {
                position: absolute;
                left: 0;
            }

            p {
                margin: 0px;
                margin-left: 4px;
                white-space: nowrap;
            }
        }

        @media screen and (max-width: 1024px) {
            margin-left: -20px;
        }
    }

    .tag-container.tag-green {
        svg polygon {
            fill: #50a518;
        }

        .tag {
            background-color: #50a518;
        }
    }

    .tag-container.tag-blue {
        svg polygon {
            fill: rgb(70, 166, 230);
        }

        .tag {
            background-color: rgb(70, 166, 230);
        }
    }
}

.text-green {
    color: #75c043;
}

.features-list {
    ::ng-deep ul {
        list-style: none;
        padding: 0;
        position: relative;

        font-size: 18px;

        margin-left: 27px;

        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 1rem;

        li::before {
            content: '';
            display: inline-block;
            list-style-position: outside; /* Place the bullet point/icon outside the text content */
            width: 20px;
            height: 20px;

            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='115' height='115' viewBox='0 0 100 100'><circle cx='50' cy='50' r='45' stroke='black' stroke-width='5' fill='none'/><path d='M30 50 L45 65 L70 40' stroke='black' stroke-width='5' fill='none'/></svg>");

            background-size: cover;
            margin-right: 10px;
            position: absolute;
            left: -26px;
        }
    }

    @media screen and (min-width: 1450px) {
        ::ng-deep ul {
            font-size: 22px;
        }
    }
}

.feature-list-supercharged {
    ::ng-deep ul {
        li::before {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='115' height='115' viewBox='0 0 100 100'><circle cx='50' cy='50' r='45' stroke='white' stroke-width='5' fill='none'/><path d='M30 50 L45 65 L70 40' stroke='white' stroke-width='5' fill='none'/></svg>");
        }
    }
}

@media screen and (min-width: 700px) {
    .payment-options h1 {
        font-weight: 700;
        font-size: 2.4rem;
    }

    .package-panel-list h2 {
        font-size: 36px;
        //line-height: 3rem;
        font-weight: 600;
    }

    .package-panel-list h3 {
        font-size: 18px;
        //line-height: 3rem;
        font-weight: 600;
    }
}

@media screen and (min-width: 1450px) {
    .payment-options h1 {
        font-weight: 700;
        font-size: 3.5rem;
    }

    .payment-options p {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .package-panel-list h2 {
        font-size: 40px;
        //line-height: 3rem;
        font-weight: 600;
    }

    .package-panel-list h3 {
        font-size: 22px;
        //line-height: 3rem;
        font-weight: 600;
    }
}

@media screen and (min-width: 1920px) {
    .payment-options h1 {
        font-weight: 700;
        font-size: 4.5rem;
    }

    .package-panel-list h3 {
        font-size: 28px;
        //line-height: 3rem;
        font-weight: 600;
    }
}

.send-quote-button {
    margin: 8px 0px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 50px;
    }
}

.row-card {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));

    @media screen and (min-width: 0px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
    }
}

.package-column {
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.find-out-more-finance {
    font-size: 14px;
    font-weight: 500;
}

.whats-included-button {
    margin-bottom: 50px;
    margin-left: 10px;
    a {
        text-decoration: none;
        color: inherit;
    }
}
