<!--Help-->
<div class="need-help">
  <div class="d-flex align-items-center">
    <div class="help-icon">
      <i class="bi bi-question-circle"></i>
    </div>
    <div class="help-body">
      <h3>Need help?</h3>
      <p>Speak to our team</p>
    </div>
  </div>
</div>
<!--Help Ends-->


<div class="container-fluid justify-content-center" >
  <div class="container-fluid py-5">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h1>
          <a class="btn btn-primary" routerLink="/choosensolarfastsystem">Back</a> your installation date
        </h1>
        <p>Based on the answers you gave, here is your recommended system.</p>
        <div class="row">

          <!--Package-->
          <div class="package-list d-flex align-items-center">

            <div class="col-md-6">
              <div class="col-md-10">
                <img src="/assets/package/whiteoak-flyer-cover.png" alt="" height="100%" width="100%">
              </div>
            </div>

            <div class="col-md-6">
              <div class="head">
                <h4>your installation is included the price</h4>
                <p>*Please note we will need to speak to the account holder to confirm your installation dates</p>
              </div>
              <!-- Date Picker -->
              <div class="date-picker col-md-8">
                <!-- Year and Month Selection -->
                <div class="year-month-row d-flex align-items-center">
                  <div class="year-selection">
                    {{ selectedYear }}
                  </div>
                  <div class="months-container">
                    <span *ngFor="let month of getAvailableMonths(); let i = index" class="month"
                      [class.selected]="i === selectedMonth" (click)="selectMonth(i)">
                      {{ month }}
                    </span>
                  </div>
                </div>


                <div class="day-row">
                  <button
                    *ngFor="let day of calendarDays"
                    [class.available]="isDayAvailable(day)"
                    [class.selected]="isDateSelected(day)"
                    [class.past-date]="isPastDate(day)"
                    (click)="selectDate(day)"
                    class="btn"
                    [disabled]="isPastDate(day)"
                  >
                    {{ day }}
                  </button>
                </div>



                <!-- Button Row -->
                <div class="button-row py-2">
                  <span [class.selected]="isButtonSelected('selecteddate')" (click)="toggleButton('selecteddate')"
                    class="px-3 mx-2">Selected</span>
                  <span [class.selected]="isButtonSelected('availabledate')" (click)="toggleButton('availabledate')"
                    class=" px-3 mx-2">available</span>
                </div>


                <!-- Confirm Date Selection -->
                <div class="confirm-row d-flex align-items-center justify-content-center">
                  <button (click)="confirmSelection()" class="btn btn-primary">Confirm Date Selection</button>
                </div>
              </div>
            </div>
          </div>
          <!--Package ends here-->
        </div>
      </div>
    </div>
    <!--Card Ends Here-->
  </div>
</div>
</div>
</div>


