.title-bar-heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    color: #000;

    .title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-left: 20px;
    }

    .title-top {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.btn-primary {
    background: linear-gradient(to bottom, #75c043, #44a900);
    border: transparent;
}

.content-main {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;

    .btn-black {
        background: #000;
        color: white;
        border-radius: 100%;
        padding: 10px;
    }

    .card{
        border-radius: 1.5rem;
        border-color: #ccc;
        background: #fff;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
        padding: 40px;
        margin-bottom: 20px;
    }

    // Rest of your existing code

    .date-picker {
        padding: 0% 10% 0% 10%;
        color: #b2b2b2;
    }

    .selected {
        color: #000;
    }

    .months-container {
        width: 100%;
        display: flex;

        .month {
            flex-grow: 1;
        }
    }

    .day-row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(25px, auto);

        .day-element {
            color: rgb(104, 104, 104);
            background: #f4f4f4;
            border-radius: 0%;
            border-color: transparent;
            font-weight: bold;
            position: relative;
            padding: 0px;
            width: 100%;
            aspect-ratio: 1 / 1;
            height: 100%;
            font-size: 1.2vw;
        }

        .selected {
            background: linear-gradient(to bottom, #75c043, #44a900);
            color: white;
        }

        .past-date {
            background: #000000;
            color: #3e3e3e;
            border-color: #363636;
            border-width: 0px;
            border-right: 1px solid #363636;
            border-top: 1px solid #363636;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .confirm-date-button {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        padding: 20px 40px 20px 40px;
        font-weight: bold;
        font-size: x-large;
        border-radius: 0.5rem;
        border-color: transparent;
    }

    .confirm-selection-disabled {
        background: #000;
        background-color: #000;
        color: #3e3e3e;
    }

    .key-container {
        display: flex;
        flex-direction: row;

        .green-key {
            background: #44a900;
            width: 20px;
            height: 20px;
            border-radius: 0%;
        }
        .gray-key {
            background: #ccc;
            width: 20px;
            height: 20px;
            border-radius: 0%;
        }
    }

}

