<div class="footer">


    <div class="p-grid col-md-4">

        <div>
            <h3>
                For Sales
            </h3>
            <p>
                1-800-555-5555
            </p>
            <p>
                contact@solarfast.co.uk
            </p>
        </div>
        <div>
            <h3>
                For Careers
            </h3>
            <p>
                Job Openings
            </p>
        </div>
        <div>
            <h3>
                For Press
            </h3>
            <p>
                Job Openings
            </p>
        </div>
        <div>
            <h3>
                Become a Partner
            </h3>
            <p>
                Coming soon
            </p>
        </div>

    </div>
</div>
