
.google-map-component{
    position:fixed;
    left: 0;
    width:100%;
    height: 100%;
}

.btn-black{
    position: absolute;
    top:30px;
    background:#000;
    width:40px;
    height: 40px;
    border-radius:50%;
    left:20px;
    top:30px;
}

.roof-selected{
    position: absolute;
    bottom: 15%;
    background:#fff;
    transform: translateY(-50%);
    right: calc(50% - 17rem);
    display: grid;
    gap: 1rem;
    border-radius: 12px;
    padding: 1rem 1rem 0 1rem;
    width: 35rem;

    .roof-icon{
        width: auto;
        padding:0 10px;
    }

    .roof-icon img{
        width: 40px;
    }

    .roof-content{
        width:80%;
    }

    .roof-content h3{
        font-size:1.5rem ;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 700;
        margin-bottom: 0;
    }

    .roof-btn{
        width:auto;
    }

    .roof-btn .btn{
        padding:8px 30px;
        border-radius: 0;
    }

  }



.map-zoom-controls {
    position: absolute;
    bottom: 0%;
    right: 10px;
    transform: translateY(-50%);
    right: calc(50% - 8rem);
  }
  
  .map-zoom-controls button {
    width: 60px;
    height: 60px;
    margin:10px 20px;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    font-size:30px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }