.mainDiv {
    // background-image: url('../assets/1/Slider_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.progress-bar{
    // height: 10%;
}
.stepper-content{
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}