<div class="mainDiv">
    <div class="container-fluid progress-bar" >
        <div class="progress-container">
            <!-- <mat-progress-bar
              mode="determinate"
              [value]="50"
            ></mat-progress-bar> -->
          </div>
    </div>
    <div class="container-fluid stepper-content">
        <div class="p-grid">
            <div >
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
