<div class="get-in-touch">
    <div class="d-flex justify-content-between">
        <div class="get-user">
            <img src="./assets/package/user.png" />
        </div>
        <div class="get-details">
            <h1>Can't find what you're looking for?</h1>
            <p class="mx-1 me-3 text-body">Speak to a member of the Solar Fast team who will help build a system to your needs.</p>
        </div>
        <div class="get-btn">
            <a class="btn get-in-touch-button" (click)="open()">Get in touch</a>
        </div>
    </div>
</div>
