.get-in-touch {
    width: 85%;
    background-color: #ebebeb;
    padding: 20px 30px 20px 30px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 29px;

    @media screen and (max-width: 768px) {
        margin-top: 30px;
    }
}

.get-in-touch-button {
    background-color: transparent;
    color: #75c043;
    padding: 10px 20px;
    border: 2px;
    border-color: #75c043;
    border-style: solid;
}

.get-user {
    width: min-content;
    margin: 0;
}

.get-user img {
    border-radius: 29px;
    margin-bottom: 0;
}

.get-details {
    margin-top: 15px;
    width: 70%;
    padding: 0px 20px;

    h1 {
        color: #242424;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 1.85rem;
    }

    p {
        font-size: 0.9rem;
    }
}

.get-btn {
    margin-top: 20px;
    width: 200px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}
