<div class="what-included">
  <div class="includedList">
      <h1>What's included</h1>
      <p>The main items included in your installation are listed below.</p>
      <ul>
          <li *ngFor="let detail of details">
              <div class="row ">
                  <div class="col-md-2">
                      <img [src]="detail.image" alt="" />
                  </div>
                  <div class="col-md-10">
                      <h3>{{ detail.title }}</h3>
                      <p>{{ detail.subtitle }}</p>
                  </div>
              </div>
          </li>
      </ul>
  </div>

  <!--Not included-->
  <div class="what-notincluded">
      <h2>What's not included</h2>
      <ul>
          <li *ngFor="let notincluded of notincludeds">
           <span class="pe-3"><i class="bi bi-x-circle-fill"></i></span>  {{ notincluded.list }}
          </li>
      </ul>
  </div>
</div>
