
.includedList{
  padding: 30px;
}

.includedList h1{
  font-size:1.5rem;
  font-weight: 700;
}

.includedList ul{
  padding:0;
}

.includedList ul li{
  list-style-type: none;
  padding: 15px 0;
  border-bottom:1px solid rgba(215, 214, 214, 0.5);
}

.includedList h3{
  font-size:1.2rem;
  font-weight: 700;
  margin-bottom:15px;
}

.what-notincluded{
  padding:0 30px;
}

.what-notincluded h2{
  font-size:1.8rem;
  font-weight: 700;
}

.what-notincluded ul{
  padding:0;
}
.what-notincluded ul li{
  list-style-type: none;
  margin:10px 0;
}