<progression-bar-top></progression-bar-top>

<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'" [position]="'end'">
        <button (click)="drawer.close()" class="close-button">&times;</button>
        <app-whatsincluded [package]="activePackage"></app-whatsincluded>
    </mat-drawer>

    <mat-drawer-content>
        <app-need-help></app-need-help>

        <!--Back button-->
        <a class="btn-black" (click)="formService.back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 25 20">
                <path d="M20 10 L5 10 M10 5 L5 10 10 15" stroke="white" stroke-width="2" fill="none" />
            </svg>
        </a>
        <div class="solar-fast-system">
            <div class="row">
                <div class="row">
                    <div class="title-bar-heading">
                        <div>
                            <h1 class="title title-top">Your Chosen System</h1>
                            <p class="title">Based on the answers you gave, here is your recommended system.</p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="activePackage">
                <!--Package Card-->
                <div class="container-fluid">
                    <div class="packages">
                        <div class="row">
                            <div class="col-md-12">
                                <div
                                    class="card"
                                    [class.card-recommended]="activePackage.packageType == 'Recommended'"
                                    [class.card-supercharged]="activePackage.packageType == 'Supercharged'">
                                    <div class="card-body">
                                        <div class="row row-flex">
                                            <!--Package-->
                                            <div class="col-md-4">
                                                <div class="package-content">
                                                    <ng-container *ngIf="activePackage.packageType == packageType.Recommended">
                                                        <a class="recommended-tag"><i class="bi bi-star-fill"></i>Recommended</a>
                                                    </ng-container>
                                                    <ng-container *ngIf="activePackage.packageType == packageType.Supercharged">
                                                        <a class="supercharged-tag">Supercharged</a>
                                                    </ng-container>

                                                    <ng-container
                                                        *ngIf="
                                                            activePackage?.imageDtos &&
                                                                activePackage.imageDtos[0]?.dataFileUrl !== '' &&
                                                                activePackage.imageDtos[0].dataFileUrl !== null;
                                                            else placeHolderImage
                                                        ">
                                                        <img class="w-100 package-image" [src]="activePackage.imageDtos[0].dataFileUrl" />
                                                        {{ activePackage.imageDtos[0].dataFileUrl }}
                                                    </ng-container>

                                                    <ng-template #placeHolderImage>
                                                        <img class="w-100 package-image" src="./assets/package/full-system-posterImage.png" />
                                                    </ng-template>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="package-content border-right">
                                                    <div class="package-panel-list">
                                                        <h2 class="lh-1 mt-3">{{ activePackage?.name | titlecase }}</h2>

                                                        <span
                                                            class="features-list mt-3"
                                                            [class.feature-list-recommended]="activePackage.packageType == packageType.Recommended"
                                                            [class.feature-list-supercharged]="activePackage.packageType == packageType.Supercharged"
                                                            [innerHTML]="activePackage.htmlListDescription"></span>

                                                        <button
                                                            type="button"
                                                            class="btn btn-secondary mt-3"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#sendQuoteModal">
                                                            <i class="bi bi-envelope"></i>
                                                            <span class="fs-8 mx-2">Save and Email me this Quote</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="package-content justify-content-center w-100">
                                                    <div class="payment-options w-100">
                                                        <h1 class="lh-1">From {{ activePackage.totalSalePrice | currency }}</h1>
                                                        <span class="per-month"
                                                            ><a (click)="openPopup()"><u>or £82.60 per month</u> (11.9% APR)</a></span
                                                        >
                                                        <a class="btn btn-primary" (click)="formService.next()">Proceed to Next Step</a>
                                                        <p class="mt-3 whats-included-button">
                                                            <i class="bi bi-info-circle-fill"></i><a (click)="whatsIncluded()"> What's included?</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--daoismdoamsdoamsd-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <app-get-in-touch></app-get-in-touch>

            <app-savings-projections></app-savings-projections>

            <faq-component></faq-component>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<app-send-quote></app-send-quote>
