<div class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Frequently Asked Questions</h1>
                <div class="tabs">
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link active"
                                id="home-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#home"
                                type="button"
                                role="tab"
                                aria-controls="home"
                                aria-selected="true">
                                Solar
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="profile-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#profile"
                                type="button"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false">
                                Battery Storage
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="contact-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#contact"
                                type="button"
                                role="tab"
                                aria-controls="contact"
                                aria-selected="false">
                                Book an Installation
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="accordion accordion-flush" id="accordionFlushExample">

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                            Are solar panels worth it?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseOne"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            Yes, of course they are! We would say that though, wouldn’t we? But, we’re not lying, as panels can save
                                            you up to 80% on your electricity bills. Plus, you can sell any excess power into the grid. Even if you
                                            had one panel and an inverter, your electricity bill would be cheaper. Having a solar system can even
                                            increase the value of your home. So, yes, solar panels are really worth it!
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                            Do solar panels increase the value of my home?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseTwo"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwo"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            We can’t say definitively that it will, but various independent studies have found that having a solar
                                            system in your home does add to the value of the property. Admiral have claimed solar can add up to 25%,
                                            while American real estate, Zillow, have the number a lot lower with 4.1%. Whoever you believe, a home
                                            improvement that can raise your EPC rating by 15 points, save you money AND has the potential to earn you
                                            money, will enhance the salability of your house.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseThree"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseThree">
                                            How many panels do I need?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseThree"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingThree"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            This is a very tricky question to answer specifically, so we’d have to work on averages. Bearing that in
                                            mind, the average 3-bedroom home in the UK would usually have 12 panels, an inverter and 2 batteries.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFour">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFour"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseFour">
                                            Do solar panels only work when it’s sunny?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseFour"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFour"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            Solar panels don’t work on sunlight, they work on daylight. The stronger the light, the better the yield,
                                            but any amount of daylight will convert into electricity via the photovoltaic cells.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFive">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFive"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseFive">
                                            What type of inverter do I need?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseFive"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFive"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            There are 3 different kinds of inverter usually associated with domestic solar installations – string
                                            inverters, inline inverters and hybrid inverters. Hybrid inverters are the most common though, as they are
                                            designed to convert DC to AC, AC to DC and high current DC to low current DC. Which is laymen’s term means
                                            a hybrid invert will covert the power from your panels into power you can use in the home, be able to feed
                                            power from both batteries and panels to the grid .... plus, a hybrid inverter will control the charging of
                                            your batteries.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSix">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseSix"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseSix">
                                            Do solar panels need maintenance?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseSix"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingSix"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            Solar Panels have no moving parts, so they need very little maintenance. The silicon cells inside the
                                            panel will degrade over time, at a rate of 0.5% a year. Most panels will come with a 25-year warranty,
                                            meaning they will still be kicking out 80% of their yield after 2 and a half decades. In terms of
                                            day-to-day maintenance etc, panels will clean themselves when it rains or snows, but if you live near a
                                            bird sanctuary or have lots of squirrels in the garden, you may need to have them cleaned professionally a
                                            few times a year.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <!--Tab2-->

                            <div class="accordion accordion-flush" id="accordionFlushExampleTwo">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSeven">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseSeven"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseSeven">
                                            Why do I need batteries?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseSeven"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingSeven"
                                        data-bs-parent="#accordionFlushExampleTwo">
                                        <div class="accordion-body">
                                            Your Solar Fast energy system will run perfectly well without batteries, generating electricity for your
                                            home all day. However, the panels will produce more electricity than you need so you have 2 choices: Sell
                                            it to the grid or store it to use during the evenings and night. We prefer the second one, which is why we
                                            will always recommend adding batteries to your set up.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingEight">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseEight"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseEight">
                                            How many batteries do I need?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseEight"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingEight"
                                        data-bs-parent="#accordionFlushExampleTwo">
                                        <div class="accordion-body">
                                            The number of batteries you need will depend on how many panels you have and how much electricity your
                                            homes uses. Not much point having 10 batteries able to store up to 30kWh if your array only has a peak
                                            output of 3.6 kW as you’d never be able to fill them. That said, you can fill batteries from the grid too,
                                            so you could fill them as you sleep on a cheap rate. We would say that you should get as many as is
                                            practical, within reason, and the average power storage for a UK home is 7 to 8kWh.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="accordion accordion-flush" id="accordionFlushExampleNine">

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingNine">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseNine"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseNine">
                                            How long will my installation take?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseNine"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingNine"
                                        data-bs-parent="#accordionFlushExampleNine">
                                        <div class="accordion-body">
                                            This would depend on the size of your array, but most of Solar Fast’s domestic installations take a matter
                                            of hours. You should, however, book a few days out for the whole process. The first thing to happen will
                                            be erecting the scaffolding, which will take a full morning, or afternoon, if you live in a 2-floor home.
                                            Then, the panels will be fitted, usually the day after. On the final day, the scaffold will be taken away.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTen">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTen"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseTen">
                                            Access to my house is difficult, what should I do?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseTen"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTen"
                                        data-bs-parent="#accordionFlushExampleNine">
                                        <div class="accordion-body">
                                            Life finds a way! We have yet to be defeated by access problems. This isn’t too much of a brag though, as
                                            all the components of a solar system can easily be carried through the home. Panels are, usually, 1.7
                                            metres by 1.3 metres, Inverters are the size of a gaming PC and batteries can as be small as someone’s
                                            carry-on luggage. Scafolding can cause a few problems, but we have found most neighbours are very
                                            accommodating and we haven’t had to abandon a job just because ‘Doris up the road’ hates solar.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingEleven">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseEleven"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseEleven">
                                            Do I need to be in for you to install?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseEleven"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingEleven"
                                        data-bs-parent="#accordionFlushExampleNine">
                                        <div class="accordion-body">
                                            Solar Fast will generally need access to your home, so it’s always best to have someone around while we
                                            are fitting the full system. However, the day your scaffold goes up, or comes down, we just need
                                            permission to be there – and it’s usually a good idea to warn your neighbours.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwelve">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwelve"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseTwelve">
                                            When will the scaffolding arrive?
                                        </button>
                                    </h2>
                                    <div
                                        id="flush-collapseTwelve"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwelve"
                                        data-bs-parent="#accordionFlushExampleNine">
                                        <div class="accordion-body">
                                            The scaffolding will generally arrive the day before your installation and be removed the day after. Of
                                            course, we can be a lot more flexible than that, but this is the most efficient way to handle the
                                            scaffolding.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tabs Ends Here-->
            </div>
        </div>
    </div>
</div>
