.renting {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 80vh;

    background-color: rgba(124, 30, 30, 0.5); /* Black color with 0.8 opacity */
    z-index: 1; /* Overlay above the background image */
    overflow: hidden;



    //card

    background: #fff;
    padding: 40px 5%;
    border-radius: 1rem;
    border-color: transparent;

    div {
        height: 100%;
        max-height: 100%;
    }

}

.card-container{

    margin: 7% 10%;
}

.renting h1 {
    font-size: 38px;
    line-height: 1.3;
    font-weight: 700;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px 30px;
    margin-bottom: 15px;
}

.icon {
    position: absolute;
    left: 15px; /* Adjust the left position to position the icon as desired */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Vertically center the icon */
    font-size: 20px;
}

.input-text-field {
    padding-left: 40px;
}

.renting p {

    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin: 0px 40px;
}

.renting .btn {
    background: rgb(117, 192, 67);
    padding: 8px 60px;
    border-radius: 12px;
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .renting h1 {
        font-size: 1.8rem;
    }
    .renting p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 767px) {

    .renting h1 {
        font-size: 1.6rem;
    }

    .renting p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.card-contents {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        padding-left: 0%;
        padding-right: 0%;
    }
}

.card {
    width: 100%;
    padding: 1px;
    border-color: transparent;
}

.form-container{
    width: min-content;
    justify-self: center;
    align-self: center;
}

.button-primary {
    width: min-content;
    white-space: nowrap;
}

.subheading-card{

    p{
        font-size: 18px;
    }

}

.reason-box {

    padding: 12px 15px 12px 15px;
}


.input-text-field{
    min-height: 40px;
}
