  <!--Help-->
  <div class="need-help">
    <div class="d-flex align-items-center">
      <div class="help-icon">
          <i class="bi bi-question-circle"></i>
      </div>
      <div class="help-body">
          <h3>Need help?</h3>
          <p>Speak to our team</p>
      </div>
    </div>
    </div>
    <!--Help Ends-->

<div class="property-bg"></div>
<div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="">
          <div class="card-contents renting">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  We are sorry but we can install only if your the owner of the
                  property
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>
                    If you are enquiring on behalf of the property owner, please have them get in touch directly with us and we'll be more than happy to help.
                </p>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                <a class="btn btn-success" (click)="backButton()"
                  >Go Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
