.btn.btn-success {
    background: linear-gradient(to bottom, #75c043, #44a900);
    -webkit-box-shadow: inset 0 1px 2px #9aa4b1;
    -moz-box-shadow: inset 0 1px 2px #9aa4b1;
}

.btn.btn-success:hover {
    background: linear-gradient(to bottom, #75c043, #44a900);
    -webkit-transition: box-shadow 0.05s ease-in-out;
    -moz-transition: box-shadow 0.05s ease-in-out;
    -o-transition: box-shadow 0.05s ease-in-out;
    transition: box-shadow 0.05s ease-in-out;
}

.btn.btn-success:active {
    background: linear-gradient(to bottom, #75c043, #44a900);
    -webkit-box-shadow: 0 0 5px #818d9d inset;
    -moz-box-shadow: 0 0 5px #818d9d inset;
}


@media (min-width: 0px) {
    .content-main {
        margin-left: 0px;

        width: 100%;
        //padding: 0px 20px 0px 20px;
        background-color: #ffffff;
    }
    .form{
        margin: 0px !important;
    }
    .personal-details{
        margin: 40px 40px 0px 40px;
    }

    .title-top{
        margin-top: 75px !important;
    }
    .title{
        margin-left: 0px !important;
    }

    .google-map{
        display:none !important;
    }
    .first-name-box{
        padding-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .content-main {
        margin-left: -20px;
        overflow: hidden;
        width: 57%;
        padding: 0px 20px 0px 20px;
        background-color: #ffffff;
    }
    .first-name-box{
        padding-bottom: 0px;
    }

    .google-map{
        display:block !important;
    }
}

.btn-success {
    padding: 8px 40px;
    margin-top: 30px;
}

.container-fluid, .stepper-content{
    height: 100vh;
}

.form-check-label {
    font-size: 16px;
}

.btn-primary {
    background: linear-gradient(to bottom, #75c043, #44a900); //todo change this to sf green
    border: transparent;
}

.confirm-selection-disabled {
    background: #000;
    background-color: #000;
    color: #3e3e3e;
}

.input-text-field {
    padding-left: 40px;
    width: 100%;
}

.icon {
    position: absolute;
    left: 15px; /* Adjust the left position to position the icon as desired */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Vertically center the icon */
    font-size: 20px;
}

.personal-details {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 94.7vh;
    max-height: 100vh;

    .input-group-text {
        //icon
        border-radius: 17px;
        background: #fff;
        min-height: 60px;
        padding: 12px 15px;
        font-size: 25px;
        color: #3d3d3d;
    }

    .form-control {
        //input field
        border-radius: 17px;
        background: #fff;
        min-height: 60px;
        padding: 12px 15px;
        font-size: 15px;
        font-weight: 5 00;
        color: #3d3d3d;
        border-left-color: transparent;
    }


    .card {
        border-radius: 1.5rem;
        border-color: #ccc;
        background: #fff;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
        padding: 40px;
        margin-bottom: 20px;
    }

    .btn-success {
        width: 100%;
        min-height: 45px;
        color: #fff;
    }

    .btn.btn-success {
        background: linear-gradient(to bottom, #75c043, #44a900);
        -webkit-box-shadow: inset 0 1px 2px #44a900;
        -moz-box-shadow: inset 0 1px 2px #44a900;
    }

    .btn.btn-success:hover {
        background: #75c043;
        -webkit-transition: box-shadow 0.05s ease-in-out;
        -moz-transition: box-shadow 0.05s ease-in-out;
        -o-transition: box-shadow 0.05s ease-in-out;
        transition: box-shadow 0.05s ease-in-out;
    }

    .btn.btn-success:active {
        background: linear-gradient(to bottom, #75c043, #44a900);
        -webkit-box-shadow: 0 0 5px #44a900 inset;
        -moz-box-shadow: 0 0 5px #44a900 inset;
    }


    .title-bar-heading {
        display: flex;
        flex-direction: row;

        margin-bottom: 30px;
        color: #000;

        .title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-left: 50px;
        }
        .title-top {
            margin-top: 10px;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }

}

.google-map {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: auto;
    /* app-googlemap.component.css */
    ::ng-deep google-map {
        width: 50%;
        ::ng-deep .map-container {
            height: 100% !important; /* Override the height attribute */
        }
    }
}


.btn-black {
    background: #000;
    color: white;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 50px;
    cursor: pointer;
}


