<div class="content-screen annual-consumption">
  <div class="header">
    <h2>What's your annual electricity usage in kWh?</h2>
    <p>You can find this on your smart meter or a copy of your latest bill.</p>
  </div>

  <div>
    <div class="center-content">
      <div class="card-items">
        <div class="card-wrapper">
            <input [formControl]="control" class="w-100 form-control" />

            <button type="button" class="btn btn-primary" (click)="answerGiven()" type="number" placeholder="UK average is 3,421 kWh" >Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
