<div class="content-screen annual-consumption">
    <div class="header">
        <h2 class="fs-title">What's your annual electricity usage in kWh?</h2>
        <p>You can find this on your smart meter or a copy of your latest bill.</p>
    </div>

    <div>
        <div class="center-content">
            <div class="card-items">
                <div>
                    <div class="input-field-container">
                        <input [formControl]="control" class="input-text-field" type="number" placeholder="UK average is 3,421 kWh" />
                    </div>

                    <div class="mt-3 d-flex flex-column w-100 align-items-center">
                        <div class="button-container">
                            <button
                                type="button"
                                class="button-primary text-nowrap w-100"
                                [class.button-disabled]="!(control.value > 0)"
                                [disabled]="!(control.value > 0)"
                                (click)="answerGiven()"
                                type="number"
                                placeholder="UK average is 3,421 kWh">
                                Next Step
                            </button>

                            <button
                                    type="button"
                                    class="button-secondary text-nowrap w-100"
                                    (click)="iDontKnowDialog()"
                                    type="number"
                                    placeholder="UK average is 3,421 kWh">
                                    I don't know
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
